* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.App{
   min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width:min-content;
  margin: 1rem 0;
}

.square-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
}
